<div class="create">
  <mat-card class="input-form">
    <form class="content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <h1>Create own comment</h1>
      <div class="fields">
        <mat-form-field class="input-field">
          <mat-label>Name</mat-label>
          <input formControlName="name" ngDefaultControl matInput type="text" />
        </mat-form-field>
  
        <mat-form-field class="input-field">
          <mat-label>Body</mat-label>
          <input formControlName="body" ngDefaultControl matInput type="text" />
          
        </mat-form-field>
  
        <div class="buttons">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="btn-submit"
            class="login-button"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
