.gallery{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    background-color:antiquewhite;
    min-height: 100vh;
    .filters{
        width: 20%;
        
        .types {
            margin-top: 10px;
            mat-card{
                border: 1px solid orange;
            }
        }
    }
    

    .masterpieces {
        width: calc(80% - 20px);
    }
}