<div class="calculator__display">
    <div class="current">
        <span class="current__history">{{history}}</span>
        <div class="current__number">{{current}}</div>
    </div>
    <div class="memory__section">
        <button class="btn" disabled>MC</button>
        <button class="btn" disabled>MR</button>
        <button class="btn">M+</button>
        <button class="btn">M-</button>
        <button class="btn">MS</button>
        <button class="btn" disabled>M^</button>
    </div>
</div>