<div class="button__panel">
    <button class="btn" (click)="pressKey('%')">%</button>
    <button class="btn" (click)="pressKey('CE')">CE</button>
    <button class="btn" (click)="pressKey('C')">C</button>
    <button class="btn" (click)="pressKey('back')">⇦</button>
    <button class="btn" (click)="pressKey('1/x')">⅟<sub>x</sub></button>
    <button class="btn" (click)="pressKey('x^2')">x<sup>2</sup></button>
    <button class="btn" (click)="pressKey('sqrt')">√‎</button>
    <button class="btn" (click)="pressKey('/')">÷</button>
    <button class="btn num"  (click)="pressKey('7')">7</button>
    <button class="btn num"  (click)="pressKey('8')">8</button>
    <button class="btn num"  (click)="pressKey('9')">9</button>
    <button class="btn" (click)="pressKey('*')">X</button>
    
    <button class="btn num" (click)="pressKey('4')">4</button>
    <button class="btn num" (click)="pressKey('5')">5</button>
    <button class="btn num" (click)="pressKey('6')">6</button>
    <button class="btn" (click)="pressKey('-')">-</button>
    <button class="btn num" (click)="pressKey('1')">1</button>
    <button class="btn num" (click)="pressKey('2')">2</button>
    <button class="btn num" (click)="pressKey('3')">3</button>
    <button class="btn" (click)="pressKey('+')">+</button>
    <button class="btn " (click)="pressKey('±')">±</button>
    <button class="btn num" (click)="pressKey('0')">0</button>
    <button class="btn" (click)="pressKey(',')">,</button>
    <button class="btn equals" (click)="pressKey('=')">=</button>
</div>
