<div class="wrapper">
  <mat-card color="primary" class="mpcard">
    <mat-card-header>
      <mat-card-title>{{ mp.name }}</mat-card-title>
      <mat-card-subtitle>{{ mp.author }}</mat-card-subtitle>
      <mat-card-subtitle>{{ mp.type }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="{{ mp.source }}" />
    <p>{{ mp.year }}</p>
    <p>{{ mp.description }}</p>

    <button
      mat-raised-button
      color="primary"
      [ngClass]="{ added: isFav }"
      (click)="addToFavorite()"
      *ngIf="isSignedIn"
    >
      {{ isFav ? "Remove from favorites" : "Add to favorites" }}
    </button>
  </mat-card>
</div>
